<nav class="navbar">

    <div class="logo">
        <a routerLink="/">Academia FullStack</a>
    </div>

    <ul class="menu">

        <li>
            <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>

        <li>
            <a routerLink="/cursos" routerLinkActive="activo">Cursos</a>
        </li>

        <li>
            <a routerLink="/instructores" routerLinkActive="activo">Instructores</a>
        </li>

        <li>
            <a routerLink="/inscripcion" routerLinkActive="activo">Inscripción</a>
        </li>

        <li>
            <a routerLink="/contacto" routerLinkActive="activo">Contacto</a>
        </li>

        
    </ul>

</nav>